    /*
    Flaticon icon font: Flaticon
    Creation date: 16/10/2018 07:46
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

.flaticon-gym:before { content: "\f100"; }
.flaticon-running:before { content: "\f101"; }
.flaticon-workout:before { content: "\f102"; }
.flaticon-woman:before { content: "\f103"; }
.flaticon-stationary-bike:before { content: "\f104"; }
.flaticon-heart:before { content: "\f105"; }
.flaticon-meditation:before { content: "\f106"; }
.flaticon-ruler:before { content: "\f107"; }
.flaticon-abs:before { content: "\f108"; }
.flaticon-tools-and-utensils:before { content: "\f109"; }
.flaticon-web:before { content: "\f100"; }
    
    $font-Flaticon-gym: "\f100";
    $font-Flaticon-running: "\f101";
    $font-Flaticon-workout: "\f102";
    $font-Flaticon-woman: "\f103";
    $font-Flaticon-stationary-bike: "\f104";
    $font-Flaticon-heart: "\f105";
    $font-Flaticon-meditation: "\f106";
    $font-Flaticon-ruler: "\f107";
    $font-Flaticon-abs: "\f108";
    $font-Flaticon-tools-and-utensils: "\f109";
    $font-Flaticon-web: "\f100";