
.bgLogin{
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 120%;
    z-index: -1;
    top: 0;
    right: 0;
    margin-left:15px;

}

.login{
    margin-top: 4%;

}

.login .logo{
    width: 40%;
    margin-left: 37%;

}

.login .form{
    margin-top: 50%;
    margin-left: 10%;

}

.input{
    display: block;
    width: 100%;
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    padding: 0 16px;
    height: 60px;
    
}

.container-login-form-btn{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.login-form-btnFacebook{
    background: #0033cc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    font-family: Montserrat-Bold;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;   
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s;
    margin-top: 20px;

}

.login-form-btnTwitter{
    background:  #00ace6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    font-family: Montserrat-Bold;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;   
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s;
    margin-top: 20px;

}

.account{
    margin-top: 30px;
    margin-left: 35%;

}

.account .textAbu{
    color: #999966;

}

.login-form-btnSignUp{
    background: #ff3333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 70%;
    height: 50px;
    border-radius: 20px;
    font-family: Montserrat-Bold;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;   
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s;
    margin-top: 20px;
}



